p {
	font-family: Arial;
	font-size: 20px;
	font-weight: black;
	text-align: center;
}

canvas {
	display:block;
	margin: auto;
}

#dialogue {
	background-image: url("/assets/label.png");
	height: 100px;
	width: 600px;
	position: absolute;
	left: 150px;
	top: 100px;
	color: #fff;
	font-family: Arial;
}

#menu {
	width:480px;
	height: 640px;
	position: absolute;
	left: 250px;			
	color: #fff;
	font-family: Arial;
}

#menu p {
	position: relative;
	top: -450px;
	right: 150px;
}

#input {
	position: absolutel
	left: 300px;
	top: 400px;
	color: #fff;
	font-family: Arial;
	background-color: #000;
}